$yellow: #f2d8a7;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

#boton {
    background-color: rgb(235, 146, 31);
}

body {
    background-color: rgba(253, 234, 208, 0.685);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(226, 201, 154);
    margin-bottom: 1px;
    @include margenes(10px, 0px);
}

.card-obra {
    flex: 1 150px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-right: 0px;
}

img {
    background: center center cover no-repeat fixed;
}

#portada {
    width: 100%;
}